@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: arial;
}

body {
  background-color: rgba(196, 191, 191, 0.97);
}

.principal {
  background-color: rgba(196, 191, 191, 0.97);
  width: 40%;
  height: 100%;
  margin: auto;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  color: rgb(108, 113, 112);
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-family: arial;
}

legend {
  font-weight: bolder;

}

.titulos {
  font-weight: thin;
}

.campo {
  padding: 4px;
  border-radius: 3px;
  border-color: rgba(217, 216, 216, 0.63);
  border-spacing: 10px;
  border-style: inset;
}

.campo:hover {
  border-color: rgb(255, 0, 0);
}

.botoes {
  display: flex;
  flex-direction: row;
}

#enviar, #limpar {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(203, 204, 204);
  border-style: outset;
}


.holderForm {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.53);
  width: 70%;
  height: 100%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.78);
  padding: 15px 5px 15px 15px;
  border-radius: 10px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  background-color: rgba(255, 255, 255, 1);
}

.obrigatorio {
  color: rgb(255, 16, 0);
}
